* {
    font-family: "Inter", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
  background: linear-gradient( rgb(255, 140, 140),rgba(88, 247, 231, 0.621));
  cursor: none;
}

.dark {
  background: linear-gradient( rgba(60, 12, 12, 0.753),rgba(15, 77, 71, 0.621));
  .navbar {
    background-color: rgba(84, 5, 18, 0.877);
  }
  .card {
    background-color: rgba(16, 62, 58, 0.63);
    color: white;
  }
  .card:hover {
    animation: scalecarddark 0.3s ease-in-out forwards;
  }
  .location {
    color: rgba(255, 255, 255, 0.608);
  }
  .wiki {
    color: rgba(255, 255, 255, 0.608);
  }
  .mode {
    color: white;
  }
}

.mode {
  cursor: pointer;
  position: absolute;
  right: 20px;
  color: black;
}

.mode:active {
  animation: scalebtn 0.5s ease-out forwards;
}
  
@keyframes scalebtn {
  0% {
  }
  100% {
    transform: scale(1.6);
  }
}

body:has(.card:hover) {
  --cursor-bg: radial-gradient(rgba(85, 220, 207, 0.599), rgba(207, 89, 108, 0.319));
}

.cursor {
  background: var(--cursor-bg, radial-gradient( rgba(247, 133, 133, 0.319), rgba(64, 224, 208, 0.352)));
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, background-color 0.3s;
  backdrop-filter: blur(0.75px) contrast(1.1);
  box-shadow: 0px 0px 3px rgba(201, 89, 89, 0.5);
}



.main-Header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar {
  background-color: rgb(207, 89, 108);
  border-radius: 1rem;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-inline: 0.5rem;
}

span {
  margin-left: 0.5rem;
}

.img-container {
  aspect-ratio: 1 / 1;
  width: 300px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  margin-left: 1rem;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-right: 2rem;
  text-align: justify;
  padding-left: 1rem;
  justify-content: center;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 0.5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(85, 220, 207);
  gap: 16px;
  padding-block: 1rem;
  border-radius: 2rem;
  animation: card-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
  width: 100%;
  max-width: 1200px;
  height: auto;
}

@media (max-width: 800px) {
  .card {
    flex-direction: column;
    margin-inline: 1rem;
    box-sizing: border-box;
    margin: 1rem auto;
    width: 85vw;
    align-items: flex-start;
  }
  .text-container {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
    max-width: 92%;
  }
  .navbar .toggle-container {
    position: relative;
    right: 20px;
  }
}

@keyframes card-appear {
  0% {
    transform: translateX(100px) translateY(40px) scale(0.9) ;
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.card:hover {
  animation: scalecard 0.3s ease-in-out forwards;
}

.card:hover .img-container {
  animation: imgcolor 0.3s ease-in-out forwards;
}
  
.card-grid {
  display: grid;
  grid-template-columns:  repeat(1, 1fr);
  row-gap: 2rem;
}

a {
  text-decoration: none;
  color: rgb(64, 64, 64);
  font-size: 1rem;
}

.location {
  color: rgb(64, 64, 64);
  font-size: 1rem;
  align-items: center;
}

.location:hover {
  cursor: pointer;
}

.globe:hover {
  animation : rotateicon 0.3s ease-in-out forwards;
}

.gap {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.wiki:hover {
  color: turquoise;
  border: 1px solid turquoise;
  border-radius: 50%;
}

.country {
  color: rgb(236, 31, 31);
  font-size: 1rem;
  align-items: center;
  margin-right: 1rem;
}

@keyframes rotateicon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
    color: rgb(85, 220, 207);
  }
}

.contacts {
  border-radius: 2rem;
  margin-top: 5vh;
}

@keyframes scalecard {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
        background-color: lightcyan;
        border: 1.5px solid turquoise;
        box-shadow: 0px 0px 10px rgb(116, 219, 208) ;
    }
}

@keyframes scalecarddark {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
        background-color: black;
        border: 1.5px solid turquoise;
        box-shadow: 0px 0px 10px rgb(116, 219, 208) ;
    }
}

@keyframes imgcolor {
    0% {
    }
    100% {
      border: 1.5px solid  rgb(207, 89, 108);
      box-shadow: 0px 0px 10px rgb(207, 89, 108);
    }
}


/*Toggle Switch*/
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 40px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    transition: 0.4s;
    border-radius: 34px;
    background-color: white;
}

.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: rgba(16, 62, 58, 0.63);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: black;
}

input:checked + .slider::before {
    transform: translateX(18px);
    background-color: turquoise;
}
