* {
    font-family: "Inter", sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
  background: linear-gradient( rgb(255, 140, 140),rgba(88, 247, 231, 0.621));
  cursor: none;
}

.dark {
  background: linear-gradient( rgba(60, 12, 12, 0.753),rgba(13, 61, 56, 0.621));
  .navbar {
    background-color: rgba(84, 5, 18, 0.877);
  }
  .card {
    background-color: rgba(16, 62, 58, 0.63);
    color: white;
  }
  .card:hover {
    animation: scalecarddark 0.3s ease-in-out forwards;
  }
  .location {
    color: rgba(255, 255, 255, 0.608);
  }
  .wiki {
    color: rgba(255, 255, 255, 0.608);
  }
  .mode {
    color: white;
  }
}

.mode {
  cursor: pointer;
  position: absolute;
  right: 20px;
  color: black;
}

body:has(.card:hover) {
  --cursor-bg: radial-gradient(rgba(85, 220, 207, 0.599), rgba(207, 89, 108, 0.319));
}

.cursor {
  background: var(--cursor-bg, radial-gradient( rgba(247, 133, 133, 0.319), rgba(64, 224, 208, 0.352)));
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, background-color 0.3s;
  backdrop-filter: blur(1px) contrast(1.1);
  box-shadow: 0px 0px 3px rgba(201, 89, 89, 0.5);
}

.main-Header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: rgb(207, 89, 108);
  border-radius: 1rem;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-inline: 0.5rem;
}

span {
  margin-left: 0.5rem;
}

.img-container {
  aspect-ratio: 3 / 3;
  width: 35vh;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  margin-left: 1rem;
}

.text-container {
  width: 90vh;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  text-align: justify;
  padding-left: 1rem;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(85, 220, 207);
  margin-inline: 14rem;
  padding-block: 1rem;
  border-radius: 2rem;
  animation: card-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

}

@keyframes card-appear {
  0% {
    transform: translateX(100px) translateY(40px) scale(0.9) ;
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.card:hover {
  animation: scalecard 0.3s ease-in-out forwards;
}

.card:hover .img-container {
  animation: imgcolor 0.3s ease-in-out forwards;
}
  
.card-grid {
  display: grid;
  grid-template-columns:  repeat(1, 1fr);
  row-gap: 2rem;
}

a {
  text-decoration: none;
  color: rgb(64, 64, 64);
  font-size: 1.2rem;
}

.location {
  color: rgb(64, 64, 64);
  font-size: 1rem;
  align-items: center;
}

.location:hover {
  cursor: pointer;
}

.globe:hover {
  animation : rotateicon 0.3s ease-in-out forwards;
}

.gap {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.wiki:hover {
  color: turquoise;
  border: 1px solid turquoise;
  border-radius: 50%;
}

.country {
  color: rgb(236, 31, 31);
  font-size: 1.2rem;
  align-items: center;
  margin-right: 1rem;
}

@keyframes rotateicon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
    color: rgb(85, 220, 207);
  }
}

.contacts {
  border-radius: 2rem;
  margin-top: 5vh;
}


@keyframes scalecard {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
        background-color: lightcyan;
        border: 1.5px solid turquoise;
        box-shadow: 0px 0px 10px rgb(116, 219, 208) ;
    }
}

@keyframes scalecarddark {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
        background-color: black;
        border: 1.5px solid turquoise;
        box-shadow: 0px 0px 10px rgb(116, 219, 208) ;
    }
}



@keyframes imgcolor {
    0% {
    }
    100% {
      border: 1.5px solid  rgb(207, 89, 108);
      box-shadow: 0px 0px 10px rgb(207, 89, 108);
    }
}

/*article:hover {
    animation: scalecard 1s ease-in-out forwards;
}

article {
  height: 40vh;
  width: 30vh;
  background-color: turquoise;
  border-radius: 2rem;
}

article h3 {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5%;
}

.contact-img {
  aspect-ratio: 3 / 3;
  width: 20vh;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  padding-inline: 5vh;
  margin-top: 3vh;
}

.infocard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
} */